<!-- {{#each climbs as |climb|}} -->
{{climb}}
  <!-- <ul data-id="{{climb}}"> -->
    <!-- <li><h1 data-id="{{climb.id}}"> <small>id: {{climb.id}}, date: {{climb.date}}, grade: {{climb.grade}}</small></h1></li> -->
  <!-- </ul> -->

<!-- {{/each}} -->
