<!-- {{#each climbs as |climb|}} -->

  <ul data-id="{{climb.id}}">
    <li><h1 data-id="{{climb.id}}"> <small>id: {{climb.id}}, date: {{climb.date}}, grade: {{climb.grade}}</small></h1></li>
  </ul>

<!-- {{/each}} -->
